[tool.ruff]
line-length = 88

[tool.ruff.lint]
fixable = ["ALL"]
select = [
    # flake8-builtins
    "A",
    # flake8-bugbear
    "B",
    # mccabe
    "C90",
    # pydocstyle
    "D",
    # pycodestyle error
    "E",
    # Pyflakes
    "F",
    # isort
    "I",
    # pep8-naming
    "N",
    # flake8-simplify
    "SIM",
    # flake8-print
    "T20",
    # pyupgrade
    "UP",
    # pycodestyle warning
    "W"
]

[tool.ruff.lint.mccabe]
max-complexity = 10

[tool.ruff.lint.pydocstyle]
convention = "google"